/* Cooking icons to check out: https://www.behance.net/gallery/25418707/160-Cooking-Icons */

/* Make bigger home button */
#home-btn{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10%;
    background-color: pink;
    border: none;
    font-family: 'Rancho', cursive;
    font-size: 28px;
}

/* Make blue outline on home button not appear when home btn clicked */
#home-btn:focus {
    outline:0;
}

/* Added margin to top of pg so there's some empty space at top */
#first-row{
    margin-top: 3.5%;
}

/* TRY: cooking instructions: Loved by the King */

/* Change h1s font-family */
body h1{
    font-family: 'Patrick Hand', cursive;
}

/* Change font-family of p tags*/
body p{
    font-family: 'Delius Swash Caps', cursive;
    font-size: 24px;
}

/* Align Github, LinkedIn, & Mail images to bottom center of page at all times */
#second-row{
    position: absolute;
    bottom: 0;
    left: 20%;
}

/* Set dumplings image to background on home pg, set its position & size */
.home-imgs{
    width: 100%;
    height: 70vh;
    background: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.15752-9/36733986_1760947867304554_4067758801577574400_n.jpg?_nc_cat=0&oh=ec777f55c7e93827448bf2da12f63cb0&oe=5B9F173E") 0 0;
    background-repeat: no-repeat;
    background-position: 75% 45%;
}

/* Set width of text on home page */
.home-imgs p {
    width: 39%;
}

/* Set GitHub image size */
#github-img{
    width: 75px;
    height: 75px;
}

/* Set LinkedIn image size */
#linkedin-img{
    width: 50px;
    height: 50px;
}

/* Set E-mail image size & make image appear higher to align with other images */
#mail-img{
    margin-top: -20px;
    width: 80px;
    height: 90px;
}

/* Make E-mail image at bottom appear on same line as Github and LinkedIn images */
#second-row address{
    display: inline-block;
}

/* Align contact info. images at bottom to center */
.img-container{
    width: 60vw;
    margin: 0px auto;
    text-align: center;
}

/* Contact Me text displays in line with GitHub, LinkedIn, & Mail images */
.img-container p{
    display: inline-block;
}

/* Used for elements that I do not want displayed on home page */
.no-show{
    display: none;
}

/* Makes horizontal scroll bar go away :) */
.row{
    /*border: 2px red solid;*/
    max-width: 100%;
    overflow-x: hidden;
}


/* Remove bullet points in ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Make vertical navigation bar */
li a {
    display: block;
    /*width: 20%;*/
    text-decoration: none !important;
    color:#CA7D64;
}

a:visited {
    text-decoration: none;
    color:#CA7D64;
}